html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    margin: 0;
    font-size: 1.5rem;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a {
    color: #fff;
    text-decoration: none;
}

a.button {
    background: rgba(0,0,0,0.1);
    padding: 1rem 1.5rem;
    border-radius: 4px;
}

.app-wrap {
    max-width: 540px;
    height: 90vh;
    margin: 5vh auto 5vh auto;
    border: 10px solid rgba(0,0,0,0.8);
    border-bottom-width: 70px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column; 
}

.app-wrap > * {
    flex: 1 1 auto;
}

.app-header {
    background: #8596ef;
    color: rgba(0,0,0,0.5);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    padding: 20px;
    background: #fff;
    box-shadow: inset 0 5px 0 rgba(0,0,0,0.1);
    line-height: 1.6;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.content img {
    max-width: 50%;
    float: left;
    margin-right: 10px;
}

.icon-bar {
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    flex-shrink: 0; /* resolves the bug in most browsers */
}

.icon-bar a {
    text-align: center;
    padding: 1.5rem;
    border-left: 1px solid rgba(0,0,0,0.1);
    background: #7a9be6;
    color: rgba(0,0,0,0.5);
    flex: 1;
    font-weight: 600;
}

.icon-bar a:first-child {
    border-left: 0;
}

.icon-bar a:first-child,
.icon-bar a:hover {
    border-bottom: 5px solid rgba(0,0,0,0.4);
}

.icon-bar i {
    display: block;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    padding-bottom: 1rem;
}


